<script lang="ts">
export default {
  name: 'SupportNote',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      selectedSupport: '',
      supportObj: {
        text: '',
      },
    };
  },
  methods: {
    selectSupport() {
      if (this.selectedSupport !== '') {
        this.supportObj = {
          ...this.data.select_menu.options.filter(
            (opt) => opt.name === this.selectedSupport,
          )[0],
        };
      }
    },
  },
};
</script>

<template>
  <section>
    <div
      :id="data.id || ''"
      class="note slp-my-32"
      :class="{
        'slp-my-96': data.cta,
      }"
    >
      <SlpIcon
        class="note__icon slp-mr-16 slp-mt-8"
        :name="data.icon"
        variant="marketing"
        alt=""
      />
      <div>
        <SlpTypography class="slp-mb-16" tag="h3" variant="heading3-bold">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography class="note__content" tag="div" variant="heading5">
          <div v-html="data.text"></div>
        </SlpTypography>
        <SlpButton
          v-if="data.cta"
          variant="ghost"
          class="slp-color-primary-200 note__cta slp-my-16"
          :href="data.cta.href"
          :data-ga-name="data.cta.data_ga_name"
          :data-ga-location="data.cta.data_ga_location"
        >
          {{ data.cta.text }}
          <SlpIcon
            variant="product"
            name="chevron-lg-right"
            class="slp-ml-16"
          />
        </SlpButton>
        <div v-if="data.select_menu" class="note__select-container">
          <select
            v-model="selectedSupport"
            class="note__select"
            @change="selectSupport"
          >
            <option disabled selected value="">
              {{ data.select_menu.placeholder }}
            </option>
            <option v-for="option in data.options" :key="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div v-if="data.select_menu && selectedSupport !== ''">
          <div class="note__select--body" v-html="supportObj.text"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.note {
  background: $color-surface-800;
  max-width: 730px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  &__icon {
    width: $spacing-24;
    height: $spacing-24;
  }

  &__content {
    &:deep a {
      color: $color-text-300;
      border: none;
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-color: transparent;
      transition: all 0.2s ease-in-out;

      &:deep a:hover {
        text-decoration-color: $color-text-300;
      }
    }
  }

  &__cta {
    margin-left: -$spacing-8;
    font-weight: $font-weight-bold;
  }

  &__select-container {
    width: 348px;
    position: relative;

    &:after {
      content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z' fill='%23333333'/%3E%3C/svg%3E");
      font-size: 1rem;
      top: 20%;
      right: 12px;
      position: absolute;
      pointer-events: none;
    }
  }

  &__select {
    background-color: $color-primary-300;
    padding: 14px 10px;
    border-radius: $spacing-4;
    border: 1px solid #333;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    appearance: none;
    width: 100%;
    text-align: left;

    &--body {
      background: $color-primary-300;
      border-radius: $spacing-24;
      padding: $spacing-32;
      margin-top: $spacing-32;

      & :deep h3 {
        font-weight: $font-weight-bold;
        font-size: $spacing-24;
        line-height: $spacing-32;
        margin-bottom: $spacing-16;
      }

      & :deep ul {
        margin-left: $spacing-16;
        list-style: initial !important;
      }
    }
  }
}
</style>
