<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import DefaultTemplate from '~/components/solutions/templates/default-template.vue';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';
import FeaturesTemplate from '~/components/features/templates/features-template.vue';

import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { LivePreviewMixin } from '~/mixins';

export default Vue.extend({
  components: {
    DefaultTemplate,
    IndustryTemplate,
    FeaturesTemplate,
  },
  mixins: [LivePreviewMixin],
  async asyncData({ params, redirect, $solutionsService }: any) {
    try {
      const isIndexSlug = !params.solutions;
      const { solutions, items } = await $solutionsService.getContent(
        `solutions${params.solutions ? `/${params.solutions}` : ''}`,
        isIndexSlug,
      );

      return { solutions, items };
    } catch (e) {
      return redirect('/404');
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).solutions,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: async (updatedData) =>
          (this.solutions =
            await this.$solutionsService.transformContentfulData(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <section v-if="solutions">
    <industry-template
      v-if="solutions?.template === TEMPLATES.Industry"
      :solutions="solutions"
    />
    <features-template
      v-else-if="solutions?.template === TEMPLATES.Feature"
      :page="solutions"
    />
    <solutions-templates-industry-template-alt
      v-else-if="solutions?.template === TEMPLATES.IndustryAlternative"
      :solutions="solutions"
    />
    <default-template v-else :solutions="solutions" />
  </section>
</template>
