<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  Copy,
  CopyMedia,
  CopyResources,
  FeaturedMedia,
  NextStep,
  SlpBreadcrumb,
  Table as SlpTable,
} from '../../components/common/index.vue';
import {
  CompanyCopyCard as CopyCard,
  CopyMediaCard,
} from '../../components/company/index.vue';
import {
  BenefitsIcons,
  TopicsCards,
  TopicsCopyBlock,
  TopicsCta,
  TopicsEmphasis,
  TopicsHeader,
  TopicsInfoTable,
} from '../../components/topics/index.vue';
import { getPageMetadata } from '~/common/meta';

import {
  fetchTopicBySlug,
  handleTopicFromContentful,
} from '~/services/topics-contentful.js';

export default Vue.extend({
  components: {
    CallToAction,
    Copy,
    CopyResources,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    TopicsCta,
    BenefitsIcons,
    NextStep,
    TopicsHeader,
    TopicsCopyBlock,
    TopicsEmphasis,
    TopicsInfoTable,
    FeaturedMedia,
    SlpTable,
    SlpBreadcrumb,
  },
  nuxtI18n: false,
  async asyncData({ params, error }: any) {
    const contentfulData = await fetchTopicBySlug(params.topics);
    if (!contentfulData) {
      error({ statusCode: 404 });
    }
    const topics = await handleTopicFromContentful(contentfulData);

    return { topics };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).topics, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <div v-if="topics.sideMenu">
        <SlpBreadcrumb class="slp-mt-32" :crumbs="topics.crumbs" />
        <TopicsHeader
          v-if="topics.topicsHeader"
          :data="topics.topicsHeader.data"
        />
        <SlpSideNavigation
          :data="topics.sideMenu"
          :class="{
            'side-navigation--w-hero': topics.topicsHeader,
            'side-navigation--w-old-hero': topics.old_topicsHeader,
          }"
        >
          <template v-if="topics.sideMenu.hyperlinks" #footer>
            <div>
              <SlpTypography
                v-show="topics.sideMenu.hyperlinks.text"
                tag="div"
                variant="body3-bold"
                class="nav-heading"
                >{{ topics.sideMenu.hyperlinks.text }}</SlpTypography
              >
              <SlpButton
                v-for="(button, buttonIndex) in topics.sideMenu.hyperlinks.data"
                :key="buttonIndex"
                class="hyperlinks"
                :variant="button.variant"
                :href="button.href"
                :data-ga-name="button.data_ga_name"
                :data-ga-location="button.data_ga_location"
                >{{ button.text }}
                <SlpIcon
                  v-if="button.icon"
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </div>
          </template>
          <component
            :is="component.name"
            v-for="(component, index) in topics.sideMenu.content"
            :key="component.name + `-${index}`"
            :data="component.data"
          />
        </SlpSideNavigation>
      </div>
      <component
        :is="component.name"
        v-for="(component, index) in topics.components"
        :key="component.name + `-${index}`"
        :data="component.data"
      />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
:deep .dropdown {
  margin: $spacing-32 0;
}
:deep #collapsible-sidebar {
  overflow-y: scroll;
  max-height: calc(100vh - $spacing-96);
  height: 100%;
}
.side-navigation--w-old-hero {
  :deep #collapsible-sidebar {
    padding-top: 0 !important;
  }
}
.side-navigation--w-hero {
  :deep #collapsible-sidebar {
    margin-top: $spacing-96;
  }
}
.hyperlinks {
  font-size: $font-size-default;
  line-height: 20px;
  font-weight: $font-weight-normal;
  text-align: left !important;
}
.nav-heading {
  margin-bottom: $spacing-8;
}
</style>
