<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';
import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';

export default Vue.extend({
  components: {
    IndustryTemplate,
  },
  async asyncData({ $solutionsStartupsService, redirect }: any) {
    try {
      // We pass down true as second parameter to indicate this is an /index landing page
      const solutions = await $solutionsStartupsService.getContent(
        `solutions/startups`,
        true,
      );

      return { solutions };
    } catch (e) {
      return redirect('/404');
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).solutions,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <industry-template :solutions="solutions" />
</template>
