<script lang="ts">
import Vue from 'vue';
import { getClient } from '../../plugins/contentful';
import { CONTENT_TYPES } from '../../common/content-types';
import {
  convertToCaseSensitiveLocale,
  getUrlFromContentfulImage,
} from '../../common/util';

export default Vue.extend({
  name: 'NextStep',
  props: {
    variant: {
      type: Number,
      required: false,
      default: 1,
    },
    disableAnimations: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      selectedVariant: null,
      variants: [],
    };
  },
  async fetch() {
    const nextStepEntries = await getClient().getEntries({
      content_type: CONTENT_TYPES.NEXT_STEPS,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const nextStepVariants = nextStepEntries.items.map((entry) => entry.fields);
    this.selectedVariant = nextStepVariants.find(
      (entry) => entry.variant === this.variant,
    );
    this.variants = nextStepVariants;
  },
  computed: {
    isSingleColumn() {
      return this.selectedVariant.variant === 2;
    },
    primaryButton() {
      return this.selectedVariant.primaryButton?.fields;
    },
    secondaryButton() {
      return this.selectedVariant.secondaryButton?.fields;
    },
    tertiaryButton() {
      return this.selectedVariant.tertiaryButton?.fields;
    },
    image() {
      return {
        ...this.selectedVariant.image?.fields,
        url: getUrlFromContentfulImage(
          this.selectedVariant.image?.fields.image,
        ),
      };
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpContainer v-if="selectedVariant" class="slp-my-96">
      <SlpRow class="w-100 prevent-overflow">
        <!-- LEFT COLUMN-->
        <SlpColumn
          :cols="selectedVariant.variant === 2 ? 12 : 6"
          size="lg"
          :data-aos="!disableAnimations && 'fade-right'"
          data-aos-duration="800"
        >
          <!-- HEADING -->
          <SlpTypography
            v-if="selectedVariant.heading"
            class="slp-mb-16 slp-pr-72"
            variant="heading2-bold"
            tag="h2"
          >
            <slot name="ft-text">{{ selectedVariant.heading }}</slot>
          </SlpTypography>
          <!-- TAGLINE-->
          <SlpTypography
            v-if="selectedVariant.tagline"
            class="slp-mb-24"
            variant="heading4"
            tag="p"
          >
            {{ selectedVariant.tagline }}
          </SlpTypography>
          <!-- PRIMARY BUTTON -->
          <SlpButton
            v-if="primaryButton"
            :variant="primaryButton.variation"
            :href="primaryButton.externalUrl"
            :data-ga-name="primaryButton.dataGaName"
            :data-ga-location="primaryButton.dataGaLocation"
            :aria-label="`${primaryButton.dataGaLocation} ${primaryButton.dataGaName}`"
          >
            {{ primaryButton.text }}
            <SlpIcon
              v-if="primaryButton.variation === 'tertiary'"
              icon="gl-chevron-lg-right"
              alt="Chevron Right Icon"
            />
          </SlpButton>
          <!-- SECONDARY BUTTON -->
          <SlpButton
            v-if="secondaryButton"
            :variant="secondaryButton.variation"
            :href="secondaryButton.externalUrl"
            :data-ga-name="secondaryButton.dataGaName"
            :data-ga-location="secondaryButton.dataGaLocation"
            :aria-label="`${secondaryButton.dataGaLocation} ${secondaryButton.dataGaName}`"
            class="slp-ml-24"
          >
            {{ secondaryButton.text }}
            <SlpIcon
              v-if="secondaryButton.variation === 'tertiary'"
              icon="gl-chevron-lg-right"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </SlpColumn>
        <!-- RIGHT COLUMN-->
        <SlpColumn
          v-if="selectedVariant.variant !== 5"
          class="slp-mt-64-sm"
          :cols="6"
          :class="{
            'slp-flex slp-align-items-center slp-justify-content-center':
              selectedVariant.variant === 3,
          }"
          size="lg"
          :data-aos="!disableAnimations && 'fade-left'"
          data-aos-duration="800"
        >
          <div class="slp-flex w-100">
            <div
              v-if="
                selectedVariant.variant === 1 || selectedVariant.variant === 4
              "
              class="vertical-line"
            />
            <div
              class="slp-flex slp-justify-content-center w-100"
              :class="{ 'right-column': selectedVariant.variant !== 3 }"
            >
              <img
                class="slp-mb-16"
                :class="{ 'right-column_image': selectedVariant.variant !== 3 }"
                :src="image.url"
                :alt="image.altText"
              />
              <SlpTypography
                v-if="selectedVariant.secondaryTagline"
                class="slp-mb-24"
                variant="heading4"
                tag="p"
              >
                {{ selectedVariant.secondaryTagline }}
              </SlpTypography>
              <SlpButton
                v-if="tertiaryButton"
                :variant="tertiaryButton.variation"
                :href="tertiaryButton.externalUrl"
                :data-ga-name="tertiaryButton.dataGaName"
                :data-ga-location="tertiaryButton.dataGaLocation"
                :aria-label="`${tertiaryButton.dataGaLocation} ${tertiaryButton.dataGaName}`"
              >
                {{ tertiaryButton.text }}
                <SlpIcon
                  v-if="tertiaryButton.variation === 'tertiary'"
                  icon="gl-chevron-lg-right"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </div>
          </div>
        </SlpColumn>
        <!-- RIGHT COLUMNS FOR CALCULATOR VARIANT-->
        <SlpColumn
          v-else
          class="slp-mt-64-sm"
          :cols="6"
          size="lg"
          :data-aos="!disableAnimations && 'fade-left'"
          data-aos-duration="800"
        >
          <SlpRow>
            <SlpColumn
              class="nxt-stp-card"
              :cols="6"
              size="lg"
              data-aos-duration="800"
            >
              <SlpIcon
                size="md"
                :icon="selectedVariant.calculatorData.col1.icon"
              />
              <SlpTypography variant="heading5" tag="p">
                {{ selectedVariant.calculatorData.col1.text }}
              </SlpTypography>
              <SlpButton
                :href="selectedVariant.calculatorData.col1.button?.href"
                :data-ga-name="
                  selectedVariant.calculatorData.col1.button?.gaName
                "
                :data-ga-location="
                  selectedVariant.calculatorData.col1.button?.gaLocation
                "
                :variant="selectedVariant.calculatorData.col1.button?.variant"
              >
                {{ selectedVariant.calculatorData.col1.button?.text }}
                <SlpIcon
                  v-if="
                    selectedVariant.calculatorData.col1.button?.variant ===
                    'tertiary'
                  "
                  icon="gl-chevron-lg-right"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </SlpColumn>
            <SlpColumn
              class="nxt-stp-card"
              :cols="6"
              size="lg"
              data-aos-duration="800"
            >
              <SlpIcon
                size="md"
                :icon="selectedVariant.calculatorData.col2.icon"
              />
              <SlpTypography variant="heading5" tag="p">
                {{ selectedVariant.calculatorData.col2.text }}
              </SlpTypography>
              <SlpButton
                :href="selectedVariant.calculatorData.col2.button?.href"
                :data-ga-name="
                  selectedVariant.calculatorData.col2.button?.gaName
                "
                :data-ga-location="
                  selectedVariant.calculatorData.col2.button?.gaLocation
                "
                :variant="selectedVariant.calculatorData.col2.button?.variant"
              >
                {{ selectedVariant.calculatorData.col2.button?.text }}
                <SlpIcon
                  v-if="
                    selectedVariant.calculatorData.col2.button?.variant ===
                    'tertiary'
                  "
                  icon="gl-chevron-lg-right"
                  alt="Chevron Right Icon"
                />
              </SlpButton>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.w-100 {
  width: 100%;
  overflow-x: hidden;
}

.slp-btn {
  &.slp-btn-tertiary {
    padding-left: 0;
  }

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    justify-content: center;
    &.slp-btn-tertiary {
      width: 100%;
      justify-content: flex-start;

      &.force-center {
        @media (max-width: $breakpoint-lg) {
          justify-content: center;
        }
      }
    }
  }
}

.slp-mt-64-sm {
  @media (max-width: $breakpoint-lg) {
    margin-top: $spacing-64;
  }
}

.vertical-line {
  display: none;
  @media (min-width: $breakpoint-lg) {
    display: block;
    border-left: 2px solid $color-surface-500;
    margin-right: 96px;
    margin-left: 96px;
  }
}

.right-column {
  display: flex;
  flex-direction: column;

  &_image {
    max-width: 210px;

    @media (max-width: $breakpoint-lg) {
      align-self: center;
    }
  }

  .slp-btn {
    @media (min-width: $breakpoint-lg) {
      width: fit-content;
    }
  }
}

.nxt-stp-card {
  margin-bottom: $spacing-32;

  & > *,
  .slp-btn-tertiary {
    margin-bottom: $spacing-24;
    padding: 0 2rem 0 0;
    @media (min-width: $breakpoint-lg) {
      padding: 0 1rem;
    }
  }
}
</style>
