<script lang="ts">
//   <!-- template meant to be used as an <SlpRow /> tag -->

import Vue from 'vue';

export default Vue.extend({
  name: 'PaginationControls',
  props: {
    pages: {
      type: Number,
      required: true,
    },
    currentPage: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {};
  },
});
</script>

<template>
  <SlpRow class="controls">
    <SlpButton
      variant="icon"
      aria-label="View previous page"
      @click.native="$emit('previousPageHandler')"
    >
      <SlpIcon
        name="chevron-lg-left"
        alt="Chevron Left Icon"
        variant="product"
        hex-color="#171321"
      />
    </SlpButton>
    <div class="controls__pages">
      <div
        v-for="index in pages"
        :key="index"
        :class="[
          currentPage === index - 1 ? 'controls__pages-control--active' : '',
          'controls__pages-control',
        ]"
        @click="$emit('selectPage', index - 1)"
      ></div>
    </div>
    <SlpButton
      variant="icon"
      aria-label="View next page"
      @click.native="$emit('nextPageHandler')"
    >
      <SlpIcon
        name="chevron-lg-right"
        alt="Chevron Right Icon"
        variant="product"
        hex-color="#171321"
      />
    </SlpButton>
  </SlpRow>
</template>

<style lang="scss" scoped>
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-24;

  color: #171321;

  :deep {
    svg,
    path {
      fill: #171321 !important;
      stroke: #171321 !important;
    }
  }

  &__pages {
    display: inherit;

    &-control {
      background: $color-surface-300;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 $spacing-8;
      cursor: pointer;

      &:hover {
        background: $color-accent-500;
      }

      &--active {
        background: $color-surface-700;
      }
    }
  }
}
</style>
