<script lang="ts">
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <article class="container">
    <a :href="data.url" class="inner-wrapper">
      <div class="image__container">
        <nuxt-img
          class="image__container__image"
          :src="
            data.blog_img_url
              ? data.blog_img_url
              : '/nuxt-images/blogimages/blogdefault.png'
          "
          alt=""
          loading="lazy"
        />
      </div>
      <div class="text__container">
        <div class="tag__container">
          <SlpIcon
            class="slp-mr-8"
            name="blog"
            variant="marketing"
            alt="Blog Icon"
            slp-color="accent-500"
          />
          <SlpTypography tag="p" variant="body2" class="tag slp-text-align-left"
            >Blog</SlpTypography
          >
        </div>
        <SlpTypography
          tag="h3"
          variant="heading4"
          class="title slp-text-align-left"
          >{{ data.title }}</SlpTypography
        >
      </div>
      <div class="author__container">
        <nuxt-img
          v-if="data.author_img_url"
          :src="author_img_url"
          alt=""
          loading="lazy"
        />
        <p aria-label="Blog author" class="author">{{ data.author }}</p>
      </div>
    </a>
  </article>
</template>

<style lang="scss" scoped>
.container {
  display: block;
  background: $color-surface-50;
  border-radius: $spacing-4;
  max-width: 350px;
  min-width: 250px;
  flex: 0 0 auto;
  min-height: 350px;
  margin: $spacing-8 $spacing-16;
  color: $color-text-300;
  cursor: pointer;
  border: 1px solid $color-surface-200;
  transition: all 0.3s ease-in-out;
  box-shadow: $shadow-surface-primary-3;

  &:hover {
    box-shadow: $shadow-surface-secondary-3;
  }
}

.image__container {
  position: relative;

  &__image {
    width: 100%;
    height: 195px;
    border-bottom: 1px solid $color-surface-200;
  }
}

.inner-wrapper {
  display: block;
  padding-bottom: $spacing-32;
}

.text__container {
  padding: $spacing-16 $spacing-32 0 $spacing-32;
  white-space: normal;
  color: $color-text-300;
}

.tag__container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: $spacing-16;

  .tag {
    color: $color-text-300;
  }

  img {
    max-width: 20px;
    display: block;
    margin-right: $spacing-8;
  }
}

.author__container {
  margin-top: $spacing-16;
  display: flex;
  padding: 0 $spacing-32;

  .author {
    font-size: $text-body-3;
    line-height: $line-height-body-3;
    color: $color-text-300;
  }
}

@media (max-width: 470px) {
  .container {
    width: 250px;
  }
}
</style>
