<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  async beforeMount() {
    let fileName =
      this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
    let content;

    try {
      content = await this.$content(fileName).limit(2).fetch();
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(`File not found in the content folder : ${fileName}`);
    }

    if (Array.isArray(content)) {
      fileName = `${fileName}/index`;
    }

    document.addEventListener('webIDE', () => {
      window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
    });
  },
});
</script>

<template>
  <div>
    <SlpMinimizedNavigation />
    <Nuxt role="main" />
    <SlpFooter />
  </div>
</template>
