<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  Highlights,
  LearnMore,
  Letter,
  Showcase,
} from '../components/environmental-social-governance/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    Letter,
    Highlights,
    Showcase,
    LearnMore,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const esg = await $content('environmental-social-governance').fetch();
    return { esg };
  },
  data() {
    return {};
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).esg, this.$route.path);
  },
});
</script>

<template>
  <div id="esg-wrapper">
    <Hero v-bind="esg.hero" />
    <Letter v-bind="esg.letter" />
    <Highlights v-bind="esg.highlights" />
    <Showcase v-bind="esg.showcase" />
    <SlpContainer variant="gradient">
      <LearnMore v-bind="esg.learn_more" />
    </SlpContainer>
  </div>
</template>
<style lang="scss" scoped>
#esg-wrapper {
  overflow-x: clip;
}
</style>
