<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { SolutionsResourceCards } from '../components/solutions/index.vue';
import {
  Benefits,
  Features,
  Hero,
  Journey,
  Principles,
} from '../components/solutions/ai/index.vue';
import { CONTENT_TYPES } from '../common/content-types';
import { getClient } from '../plugins/contentful';
import { NextStep, ReportCta } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { LivePreviewMixin } from '~/mixins';

function mapGitlabDuo(items) {
  let [
    hero,
    journey,
    video,
    featureCards,
    principles,
    resources,
    reportCta,
    // eslint-disable-next-line prefer-const
    benefits,
  ] = items[0].fields.pageContent;
  //  Format content from contentful
  // Hero content

  hero = {
    button: {
      href: hero.fields.primaryCta.fields.externalUrl,
      text: hero.fields.primaryCta.fields.text,
      variant: 'secondary',
    },
    secondaryButton: {
      href: hero.fields.secondaryCta.fields.externalUrl,
      text: hero.fields.secondaryCta.fields.text,
      variant: 'primary',
    },
    description: hero.fields.subheader,
    image: {
      alt: hero.fields.backgroundImage.fields.title,
      src: hero.fields.backgroundImage.fields.file.url,
    },
  };

  // Journey cards content

  journey = {
    features: journey.fields.data.features,
  };

  // Video

  video = {
    text: video.fields.title,
    source: video.fields.url,
  };

  // Feature cards

  featureCards = {
    title: featureCards.fields.header,
    cards: featureCards.fields.card.map((card: any) => ({
      name: card.fields.title,
      description: card.fields.description,
      href: card.fields.cardLink,
      icon: card.fields.iconName,
    })),
  };

  // Principles

  principles = principles.fields.data;

  //  Resources

  resources = {
    data: {
      column_size: 4,
      title: resources.fields.header,
      cards: resources.fields.card.map((card: any) => ({
        link_text: 'Read more',
        data_ga_location: 'body',
        event_type: 'Blog',
        data_ga_name: card.fields.title,
        header: card.fields.title,
        href: card.fields.cardLink,
        icon: {
          name: card.fields.iconName,
          variant: 'marketing',
          alt: 'blog icon',
        },
        image: card.fields.image.fields.file.url,
      })),
    },
  };

  //  Report CTA

  reportCta = {
    layout: 'dark',
    title: reportCta.fields.header,
    reports: reportCta.fields.card.map((report: any) => ({
      url: report.fields.button.fields.externalUrl,
      description: report.fields.description,
    })),
  };

  const metadata = {
    title: items[0].fields.seoMetadata[0].fields.ogTitle,
    ogTitle: items[0].fields.seoMetadata[0].fields.ogTitle,
    description: items[0].fields.seoMetadata[0].fields.description,
    ogDescription: items[0].fields.seoMetadata[0].fields.ogDescription,
    ogType: items[0].fields.seoMetadata[0].fields.ogType,
    ogUrl: items[0].fields.seoMetadata[0].fields.ogUrl,
    ogSiteName: items[0].fields.seoMetadata[0].fields.ogSiteName,
    ogImage: items[0].fields.seoMetadata[0].fields.ogImage,
  };
  return {
    hero,
    journey,
    video,
    featureCards,
    principles,
    resources,
    reportCta,
    metadata,
    benefits,
  };
}

export default Vue.extend({
  components: {
    Hero,
    Journey,
    Features,
    SolutionsResourceCards,
    Principles,
    NextStep,
    ReportCta,
    Benefits,
  },
  mixins: [LivePreviewMixin],
  async asyncData({ $content, i18n, redirect }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      if (locale) {
        const ai = await $content(locale, `gitlab-duo`).fetch();
        ai.reportCta = ai.report_cta;
        return { gitlabDuo: ai };
      }

      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': 'gitlab-duo',
        include: 10,
      });

      return { items, gitlabDuo: mapGitlabDuo(items) };
    } catch (e) {
      return redirect('/404');
    }
  },
  head(): MetaInfo {
    const metadata = (this as any).gitlabDuo?.metadata || this.gitlabDuo;
    return getPageMetadata(
      metadata,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  mounted() {
    setTimeout(() => {
      window.__vimeoRefresh();
    }, 3000);

    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: (updatedData) => (this.gitlabDuo = mapGitlabDuo(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <div>
    <SlpContainer variant="charcoal-100">
      <Hero v-bind="gitlabDuo.hero" />
      <Journey v-bind="gitlabDuo.journey" />
    </SlpContainer>
    <SlpContainer v-if="gitlabDuo.benefits" variant="gradient">
      <Benefits :data="gitlabDuo.benefits" />
    </SlpContainer>
    <SlpContainer>
      <section class="slp-my-64">
        <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-32">
          {{ gitlabDuo.video.text }}</SlpTypography
        >
        <div style="padding: 56.25% 0 0 0; position: relative">
          <iframe
            frameborder="0"
            :src="gitlabDuo.video.source"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
            title="Meet GitLab Duo"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>
      <Features v-bind="gitlabDuo.featureCards" />
      <Principles v-bind="gitlabDuo.principles" />
      <SolutionsResourceCards v-bind="gitlabDuo.resources" />
    </SlpContainer>
    <ReportCta :data="gitlabDuo.reportCta" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
