<script lang="ts">
import Vue from 'vue';
import { Accordion } from '~/components/solutions/index.vue';

export default Vue.extend({
  name: 'AIBenefits',
  components: { Accordion },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isOpenIndex: 0 as number,
      items: this.data.fields.card.map((card) => ({
        icon: {
          name: card.fields.iconName,
          alt: `${card.fields.title} icon`,
          variant: 'marketing',
        },
        header: card.fields.title,
        text: card.fields.description,
        link_url: card.fields.cardLink,
      })),
    };
  },
  methods: {
    toggleController(index: number) {
      if (this.isOpenIndex === index) {
        this.isOpenIndex = null;
        return;
      }
      this.isOpenIndex = index;
    },
  },
});
</script>

<template>
  <section id="ai-benefits" class="by-solution-benefits slp-py-48 slp-py-md-96">
    <SlpRow v-if="data.fields.image.fields.image.fields.file.url">
      <SlpColumn :cols="8" size="lg">
        <div class="slp-mb-16 slp-mb-md-32">
          <div v-if="data.fields.subheader" class="pill">
            <SlpTypography variant="body2">
              {{ data.fields.subheader }}</SlpTypography
            >
          </div>
          <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-8">
            <span>{{ data.fields.header }}</span>
          </SlpTypography>
          <SlpTypography tag="h2" variant="body1" class="slp-mb-32 description">
            <span>{{ data.fields.description }}</span>
          </SlpTypography>
        </div>
      </SlpColumn>
    </SlpRow>

    <SlpRow class="by-solution-benefits__row">
      <SlpColumn :cols="12" class="slp-pr-md-16">
        <div
          v-if="data.fields.image.fields.image.fields.file.url"
          class="by-solution-benefits__container"
        >
          <img
            class="by-solution-benefits__image"
            :src="data.fields.image.fields.image.fields.file.url"
            :alt="data.fields.image.fields.image.fields.title"
            aria-hidden="true"
            loading="lazy"
          />
        </div>
      </SlpColumn>
      <SlpColumn :cols="12" class="slp-pl-md-16 accordion-items" size="lg">
        <div>
          <div class="by-solution-benefits__items-wrapper">
            <Accordion
              v-for="(item, index) in items"
              :key="item.header"
              :data="item"
              :is-open="isOpenIndex == index"
              @toggleController="toggleController(index)"
            />
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.by-solution-benefits {
  position: relative;
  .main-cta {
    margin: $spacing-24 0 $spacing-32;
  }

  .cta {
    padding-left: $spacing-48;
    margin-top: 28px;
    text-align: left;
  }
  &__row {
    width: 100%;
    word-wrap: break-word;
  }

  &__container {
    position: relative;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: $spacing-48;
    }

    .by-solution-benefits__image {
      max-width: 550px;
      width: 100%;
      border-radius: 4px 4px 200px 4px;
    }
  }

  &__items-wrapper {
    width: 100%;

    @media (max-width: 1169px) {
      max-width: 100%;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-right: $spacing-default;
    margin-bottom: 20px;
  }

  &__description {
    padding-left: $spacing-48;
  }

  &__header {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-4;
  }

  &__items-w-border {
    border-bottom: 1px solid $color-surface-200;
  }
}
.accordion-items {
  @media (min-width: $breakpoint-lg) {
    flex-basis: 50%;
  }
}
.pill {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  max-width: 170px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  margin-bottom: 12px;
  background: $color-surface-950;
}

.description {
  max-width: 550px;
}
</style>
