<script>
import {
  addUserSpend,
  checkIfUltimate,
  totalGitlabSpend,
  totalUserSpend,
} from '../../lib/roiCalculate';

import PremiumBlock from './premium-block.vue';

export default {
  components: {
    PremiumBlock,
  },
  props: {
    formData: {
      type: Object,
      required: true,
    },
    costResults: {
      type: Object,
      required: true,
      default: null,
    },
    premiumFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    ultimateFeatures: {
      type: Object,
      required: false,
      default: null,
    },
    spendTooltip: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      partnerId: null,
    };
  },
  computed: {
    showCTA() {
      return {
        premium: !this.$route.path.includes('pricing/premium'),
        ultimate: !this.$route.path.includes('pricing/ultimate'),
      };
    },
    isMobile() {
      return this.width <= 1024;
    },
    gitlabMaintainers() {
      return this.formData.numberOfMaintainers === 0 ? 0 : 1;
    },
    isUltimate() {
      return checkIfUltimate(
        this.formData.agilePortfolioManagementSpend,
        this.formData.applicationSecuritySpend,
      );
    },
    sumOfUserSpend() {
      return addUserSpend(
        this.formData.sourceCodeManagementSpend,
        this.formData.continuousIntegrationSpend,
        this.formData.continuousDeliverySpend,
        this.formData.registriesSpend,
        this.formData.agileProjectManagementSpend,
        this.formData.agilePortfolioManagementSpend,
        this.formData.applicationSecuritySpend,
      );
    },
    userAnnualSpend() {
      return totalUserSpend(
        this.sumOfUserSpend,
        this.formData.numberOfMaintainers,
      );
    },
    calculateGitLabSpend() {
      return totalGitlabSpend(
        this.isUltimate,
        this.formData.numberOfUsers,
        this.gitlabMaintainers,
      );
    },
    savings() {
      if (this.userAnnualSpend - this.calculateGitLabSpend < 0) {
        return 'error';
      }
      return this.userAnnualSpend - this.calculateGitLabSpend;
    },
  },
  updated() {
    // eslint-disable-next-line no-prototype-builtins
    if (sessionStorage.hasOwnProperty('partnerId')) {
      this.partnerId = sessionStorage.getItem('partnerId');
    }
  },
};
</script>

<template>
  <client-only>
    <div>
      <div v-show="savings == 'error'" class="error">
        <div class="heading">
          <SlpTypography tag="h2" variant="heading3-bold"
            >{{ costResults.heading }}
            <span class="save"
              >{{ costResults.monetary_sign
              }}{{
                userAnnualSpend.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
              }}</span
            ></SlpTypography
          >
        </div>
        <SlpHorizontalRule class="slp-mb-24" />
        <SlpTypography tag="p" class="description">{{
          costResults.premium_description
        }}</SlpTypography>
        <PremiumBlock :premium-features="premiumFeatures.list" />

        <div>
          <SlpTypography tag="p" variant="body3" class="disclaimer">
            {{ costResults.disclaimer }}
          </SlpTypography>
        </div>
      </div>
      <div v-show="isUltimate && savings !== 'error'">
        <div>
          <div class="heading">
            <SlpTypography tag="h2" variant="heading3-bold"
              >{{ costResults.youCouldSave }}
              <span class="save"
                >{{ costResults.monetary_sign
                }}{{
                  savings.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</span
              >
              {{ costResults.ultimateSwitch }}</SlpTypography
            >
            <SlpTypography tag="p" class="description">{{
              costResults.ultimate_description
            }}</SlpTypography>
          </div>
          <div class="cards">
            <div class="result-card">
              <div class="flex">
                <SlpTypography tag="h5" variant="heading5-bold">{{
                  costResults.current_spend
                }}</SlpTypography
                ><SlpTooltip
                  id="numberOfUsers"
                  :text="spendTooltip"
                  position="top"
                  mode="click"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o"
                /></SlpTooltip>
              </div>

              <SlpTypography tag="p" variant="heading3"
                >{{ costResults.monetary_sign
                }}{{
                  userAnnualSpend
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</SlpTypography
              >
            </div>
            <SlpTypography tag="p" class="versus" variant="heading5-bold">{{
              costResults.vs
            }}</SlpTypography>
            <div>
              <div class="result-card ultimate">
                <SlpTypography tag="h5" variant="heading5-bold">{{
                  costResults.gitlab_ultimate
                }}</SlpTypography>
                <SlpTypography tag="p" variant="heading3"
                  >{{ costResults.monetary_sign
                  }}{{
                    calculateGitLabSpend
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  }}</SlpTypography
                >

                <div v-if="partnerId != null">
                  <SlpButton
                    :href="`https://page.gitlab.com/sm-free-trial-partner.html?utm_partnerid=${partnerId}`"
                    variant="primary"
                    data-ga-name="partners only - free trial"
                    data-ga-location="cost roi calculator - ultimate results"
                  >
                    {{ costResults.free_trial }}
                  </SlpButton>
                </div>
                <div v-else>
                  <SlpButton
                    href="https://gitlab.com/-/subscriptions/new?plan_id=2c92a0ff76f0d5250176f2f8c86f305a&test=capabilities"
                    variant="primary"
                    data-ga-name="buy ultimate"
                    data-ga-location="roi calculator results"
                  >
                    {{ costResults.buy_ultimate }}
                  </SlpButton>
                </div>
              </div>
              <div>
                <SlpTypography tag="h5" class="header" variant="body3-bold">{{
                  ultimateFeatures.header
                }}</SlpTypography>
                <ul class="list">
                  <li
                    v-for="feature in ultimateFeatures.list"
                    :key="feature.text"
                    class="item"
                  >
                    <SlpIcon
                      class="check"
                      variant="product"
                      name="check"
                      hex-color="#7759c2"
                    />

                    <span class="feature" v-html="feature.text"></span>
                    <SlpTooltip
                      v-if="feature.information"
                      :id="feature.text.toLowerCase().replace(/\s/g, '-')"
                      :list="feature.information"
                      :tooltip-position="isMobile ? 'bottom' : 'right'"
                      class="tooltip"
                      mode="click"
                      ><SlpIcon variant="product" name="information-o"
                    /></SlpTooltip>
                  </li>
                </ul>

                <SlpButton
                  v-if="ultimateFeatures.button && showCTA.ultimate"
                  class="learn-more-button"
                  variant="tertiary"
                  :data-ga-location="ultimateFeatures.button.data_ga_location"
                  :data-ga-name="ultimateFeatures.button.data_ga_name"
                  :href="ultimateFeatures.button.url"
                  >{{ ultimateFeatures.button.text
                  }}<SlpIcon variant="product" name="chevron-lg-right"
                /></SlpButton>
              </div>
            </div>
          </div>
          <SlpTypography class="disclaimer" tag="p" variant="body3">{{
            costResults.resultsDisclaimer
          }}</SlpTypography>
        </div>
      </div>

      <div v-show="!isUltimate && savings !== 'error'">
        <div>
          <div class="heading">
            <SlpTypography tag="h2" variant="heading3-bold"
              >{{ costResults.youCouldSave }}
              <span class="save"
                >{{ costResults.monetary_sign }}
                {{
                  savings.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</span
              >
              {{ costResults.premiumSwitch }}</SlpTypography
            >
            <SlpTypography tag="p" class="description"></SlpTypography>
          </div>
          <div class="cards">
            <div class="result-card">
              <div class="flex">
                <SlpTypography tag="h5" variant="heading5-bold"
                  >{{ costResults.current_spend }} </SlpTypography
                ><SlpTooltip
                  id="numberOfUsers"
                  position="top"
                  :text="spendTooltip"
                  mode="click"
                  class="tooltip"
                >
                  <SlpIcon variant="product" name="information-o"
                /></SlpTooltip>
              </div>

              <SlpTypography tag="p" variant="heading3"
                >${{
                  userAnnualSpend
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}</SlpTypography
              >
            </div>
            <SlpTypography tag="p" class="versus" variant="body3-bold"
              >{{ costResults.vs }}
            </SlpTypography>
            <div>
              <div class="result-card premium">
                <SlpTypography tag="h5" variant="heading5-bold">{{
                  costResults.gitlab_premium
                }}</SlpTypography>
                <SlpTypography tag="p" variant="heading3"
                  >{{ costResults.monetary_sign
                  }}{{
                    calculateGitLabSpend
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                  }}</SlpTypography
                >
                <div>
                  <div v-if="partnerId != null">
                    <SlpButton
                      :href="`https://page.gitlab.com/sm-free-trial-partner.html?utm_partnerid=${partnerId}`"
                      variant="primary"
                      data-ga-name="partners only - free trial"
                      data-ga-location="cost roi calculator - premium results"
                    >
                      {{ costResults.free_trial }}
                    </SlpButton>
                  </div>
                  <div v-else>
                    <SlpButton
                      href="https://gitlab.com/-/subscriptions/new?plan_id=2c92a00d76f0d5060176f2fb0a5029ff&test=capabilities"
                      variant="primary"
                      data-ga-name="buy premium"
                      data-ga-location="roi calculator results"
                    >
                      {{ costResults.buy_premium }}
                    </SlpButton>
                  </div>
                </div>
              </div>
              <div>
                <SlpTypography tag="h5" class="header" variant="body3-bold">{{
                  premiumFeatures.header
                }}</SlpTypography>
                <ul class="list">
                  <li
                    v-for="feature in premiumFeatures.list"
                    :key="feature.text"
                    class="item"
                  >
                    <SlpIcon
                      class="check"
                      variant="product"
                      name="check"
                      hex-color="#7759c2"
                    />
                    <span class="feature" v-html="feature.text"></span>
                    <SlpTooltip
                      v-if="feature.information"
                      :id="feature.text.toLowerCase().replace(/\s/g, '-')"
                      :list="feature.information"
                      :tooltip-position="isMobile ? 'bottom' : 'right'"
                      class="tooltip"
                      mode="click"
                    >
                      <SlpIcon variant="product" name="information-o" />
                    </SlpTooltip>
                  </li>
                </ul>

                <SlpButton
                  v-if="premiumFeatures.button && showCTA.premium"
                  class="learn-more-button"
                  variant="tertiary"
                  :data-ga-location="premiumFeatures.button.data_ga_location"
                  :data-ga-name="premiumFeatures.button.data_ga_name"
                  :href="premiumFeatures.button.url"
                  >{{ premiumFeatures.button.text
                  }}<SlpIcon variant="product" name="chevron-lg-right"
                /></SlpButton>
              </div>
            </div>
          </div>
          <SlpTypography class="disclaimer" tag="p" variant="body3">{{
            costResults.results_disclaimer
          }}</SlpTypography>
        </div>
      </div>
    </div>
  </client-only>
</template>

<style lang="scss" scoped>
.save {
  color: $color-accent-500;
  display: inline-block;
  margin-right: -7px;
}

.heading {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  margin-bottom: $spacing-24;
}

.description {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex {
    display: flex;

    .tooltip {
      background: transparent;
      border: none;
      padding: 0;
      margin-left: $spacing-8;
      margin-bottom: $spacing-8;
    }
  }
}

.versus {
  padding-top: $spacing-64;

  @media (max-width: $breakpoint-md) {
    padding: 0;
    margin: $spacing-8 0 $spacing-24 0;
    width: 100%;
    text-align: center;
  }
}

.result-card {
  text-align: left;
  padding: $spacing-24;
  h5 {
    margin-bottom: $spacing-8;
  }

  p {
    margin-bottom: $spacing-24;
  }

  .list {
    margin-bottom: $spacing-32;
  }

  .item {
    display: flex;
    align-items: center;
    margin: $spacing-8 0;
  }

  @media (max-width: $breakpoint-md) {
    text-align: center;
    padding: $spacing-24 0 0 0;
  }

  &.error {
    max-width: 345px;
    margin: 0 auto;
    p {
      margin-bottom: $spacing-8;
    }
  }
}

.result-card.premium,
.result-card.ultimate {
  border-radius: 4px 4px 40px 4px;
  padding: $spacing-24 $spacing-32 $spacing-32 $spacing-24;
}

.result-card.premium {
  background: $color-surface-900;
}

.result-card.ultimate {
  background: url(/nuxt-images/backgrounds/ultimate_tier_gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: $spacing-24 $spacing-32 $spacing-32 $spacing-24;
}

.error h3 {
  margin-bottom: 40px;
}

.header {
  margin-top: $spacing-24;
  text-align: left;
}
.list {
  margin-bottom: 40px;

  .slp-tooltip {
    border: none;
    cursor: pointer;
    height: 1rem;
    margin-left: $spacing-8;
    height: auto; // Fixes svg within button Safari bug
  }

  .item {
    display: flex;
    align-items: center;
    margin: $spacing-8 0;
    text-align: left;

    .check {
      margin-right: $spacing-16;
    }
  }
}

.learn-more-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  .slp-icon {
    margin-left: $spacing-8;
  }
}

.disclaimer {
  color: $color-text-200;
  margin-top: $spacing-32;
  padding: 0 $spacing-64;

  @media (max-width: $breakpoint-md) {
    padding: 0;
  }
}
</style>
