<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    header: {
      type: String,
      required: true,
      default: '',
    },
    subheader: {
      type: String,
      required: true,
      default: '',
    },
    assets: {
      type: Array,
      required: true,
      default: () => [],
    },
    text: {
      type: String,
      required: true,
      default: '',
    },
    location: {
      type: String,
      required: true,
      default: '',
    },
    agenda: {
      type: Array,
      required: true,
      default: () => [],
    },
    cta: {
      type: Object,
      required: true,
      default: () => {},
    },
    registrationClosed: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      openItem: -1,
    };
  },
  methods: {
    toggleItem(index: number) {
      if (index === this.openItem) {
        this.openItem = -1;
      } else {
        this.openItem = index;
      }
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div
      class="agenda-header"
      :class="{ 'agenda-header--includes-blurb': text }"
    >
      <SlpTypography variant="heading2-bold" tag="h2" class="header">
        {{ header }}
      </SlpTypography>
      <div v-if="assets" class="agenda-header-image">
        <img
          v-for="asset in assets"
          :key="asset.alt"
          :src="asset?.src"
          :alt="asset?.alt"
          loading="lazy"
        />
      </div>
      <div v-if="text" class="agenda-blurb">
        <SlpTypography variant="body2" tag="p"
          ><p v-html="text"></p
        ></SlpTypography>
      </div>
    </div>

    <div class="agenda-container">
      <div class="agenda-cta">
        <SlpTypography variant="body2">{{ subheader }}</SlpTypography>
        <SlpButton
          v-if="!registrationClosed"
          :href="cta.externalUrl"
          variant="secondary"
        >
          {{ cta.text }} {{ location }}
          <SlpIcon variant="product" name="arrow-down" class="slp-ml-8"
        /></SlpButton>
      </div>
      <div
        v-for="(item, index) in agenda"
        :key="item.name + index"
        class="agenda-event"
        :class="{ open: index === openItem && item.description }"
        @click="toggleItem(index)"
      >
        <div class="information">
          <div class="time-wrapper">
            <SlpTypography variant="body1-bold" class="time">{{
              item.time
            }}</SlpTypography>
            <SlpIcon
              variant="product"
              :name="index === openItem && item.description ? 'dash' : 'plus'"
              class="plus-icon mobile"
            />
          </div>
          <SlpTypography variant="body1-bold" class="name">
            {{ item.name }}
            <span v-if="item.logo?.src" class="logo">
              <nuxt-img
                :src="item.logo?.src"
                :alt="item.logo?.alt"
                loading="lazy"
              />
            </span>
          </SlpTypography>
          <div
            v-if="openItem === index && item.description"
            class="description"
            :class="{ 'description--w-blurb': item.description?.blurb }"
          >
            <SlpTypography variant="body3-bold">Talk description</SlpTypography>
            <SlpTypography variant="heading5-bold">
              {{ item.name }}
            </SlpTypography>

            <div
              variant="body1"
              class="body1"
              v-html="$md.render(item.description)"
            ></div>
          </div>
          <div
            v-for="speaker in item.speakers"
            :key="speaker.name"
            class="speaker"
          >
            <div class="info-container">
              <img
                v-if="speaker"
                loading="lazy"
                :style="{ 'object-position': speaker.image?.position || 'top' }"
                :src="
                  speaker.image?.src ||
                  '/nuxt-images/events/world-tour/speakers/Speaker-Placeholder.jpg'
                "
                :alt="`${speaker.name} Photo`"
                :class="speaker.class"
              />

              <div class="speaker-info">
                <SlpTypography variant="body1-bold">{{
                  speaker.name
                }}</SlpTypography>
                <SlpTypography variant="body3" class="title">{{
                  speaker.title
                }}</SlpTypography>
                <SlpTypography variant="body2-bold">{{
                  speaker.company
                }}</SlpTypography>
              </div>
            </div>
            <div
              v-if="openItem === index && item.description"
              class="biography"
            >
              <SlpTypography
                v-if="speaker.biography || speaker.name"
                variant="body3-bold"
                >Biography</SlpTypography
              >
              <SlpTypography variant="heading5-bold">{{
                speaker?.name
              }}</SlpTypography>
              <div class="body1" v-html="$md.render(speaker.biography)"></div>
            </div>
          </div>

          <SlpIcon
            v-if="item.description"
            variant="product"
            :name="index === openItem && item.description ? 'dash' : 'plus'"
            class="plus-icon"
          />
        </div>
        <div class="details"></div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.agenda {
  &-container {
    background: #461e4c;
    border-radius: 8px;
    color: white;
    padding: 0 0 44px 0;
    margin-bottom: 128px;
  }
  &-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #461e4c;
    gap: 16px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 16px 24px;
    position: sticky;
    top: 84px;
    box-shadow: 0px 0px 10px #2d1231;
    @media (max-width: $breakpoint-md) {
      top: 116px;
    }
  }
  &-event {
    cursor: pointer;
    transition: all 0.3s;
    &:nth-child(odd) {
      background-color: #5c284c;
    }
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
    &.open {
      background: $color-surface-100;
      color: $color-text-300;
      .information {
        grid-template-rows: 150px auto;
        @media (max-width: $breakpoint-md) {
          grid-template-rows: 20px auto;
        }
      }
    }
    .information {
      padding: 24px;
      display: grid;
      grid-template-columns: 150px repeat(4, 1fr) 20px;
      gap: 16px 0;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        margin-right: 0;
        gap: 16px;
      }
      .time-wrapper {
        display: flex;
        justify-content: space-between;
      }
      .plus-icon {
        display: none;
        grid-column-start: 6;
        grid-row: 1;
        justify-self: end;
        @media (min-width: $breakpoint-md) {
          display: initial;
        }
        &.mobile {
          display: block;
          @media (min-width: $breakpoint-md) {
            display: none;
          }
        }
      }
      .name {
        span:deep(p) {
          margin-bottom: 8px;
        }
        @media (min-width: $breakpoint-md) {
          grid-column-start: 2;
          grid-column-end: 4;
        }
      }

      .speakers {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .speaker {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (min-width: $breakpoint-md) {
          grid-column: 4 / span 2;
          grid-row: span 2;
        }
        .info-container {
          display: flex;

          img {
            margin-right: 32px;
            width: 180px;
            height: 150px;
            border-radius: 4px 4px 60px 4px;
            object-fit: cover;
            object-position: top;
            min-width: 180px;
            &.contain {
              object-fit: contain;
            }

            @media (max-width: $breakpoint-md) {
              border-radius: 4px 4px 30px 4px;
              max-width: 90px;
              min-width: 90px;
              max-height: 74px;
              margin-right: 16px;
            }
          }
          .speaker-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }
    .details {
      display: grid;
      padding: 24px;
      grid-template-columns: 1fr 1fr;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 32px;
      }
      gap: 64px;
    }
  }
  &-header {
    display: flex;
    margin-bottom: 64px;
    align-items: center;
    &--includes-blurb {
      flex-wrap: wrap;
    }
  }
  &-header-image {
    line-height: 0;
    margin-left: 16px;
  }
  &-blurb {
    margin-top: 24px;
  }
}
.description {
  .title {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  @media (min-width: $breakpoint-md) {
    grid-row: 2;
    grid-column: span 3;
    padding-right: 32px;
  }
  &--w-blurb {
    @media (min-width: $breakpoint-md) {
      grid-row: span 2;
    }
  }
}
.description,
.biography {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header {
  position: relative;
  &::before {
    content: url('/nuxt-images/events/world-tour/agenda-decoration.png');
    position: absolute;
    top: -100%;
    left: -4%;
  }
}
</style>
