<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface HeroImage {
  src: string;
  alt?: string;
}

interface HeroButton {
  text: string;
  externalUrl: string;
  variation?: string;
  iconName: string;
  iconVariant: string;
  size?: string;
}

export default Vue.extend({
  props: {
    header: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: false,
      default: '',
    },
    image: {
      type: Object as PropType<HeroImage>,
      required: true,
    },
    button: {
      type: Object as PropType<HeroButton>,
      required: false,
      default: null,
    },
  },
});
</script>

<template>
  <div id="hero-container">
    <SlpContainer>
      <div class="hero-wrapper">
        <div class="hero-text">
          <img
            src="/nuxt-images/events/world-tour/gitlab-logo.png"
            alt="GitLab Logo"
            class="slp-mb-16"
          />
          <SlpTypography variant="heading1-bold" tag="h1" class="slp-mb-24">{{
            header
          }}</SlpTypography>
          <SlpTypography variant="body2" tag="h2" class="slp-mb-24">{{
            subtitle
          }}</SlpTypography>
          <SlpButton :href="button.externalUrl" :variant="button.variation"
            >{{ button.text }}
            <SlpIcon
              v-if="button.iconName"
              :name="button.iconName"
              :variant="button.iconVariant"
              class="slp-ml-8"
          /></SlpButton>
        </div>
        <div v-if="image?.src" class="hero-image">
          <img :src="image.src" :alt="image.alt" />
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#hero-container {
  background: url('/nuxt-images/events/world-tour/Background.png');
  margin-bottom: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $breakpoint-lg) {
    gap: 132px;
  }

  .hero-text {
    color: white;
    padding-top: 32px;

    @media (min-width: $breakpoint-md) {
      padding-top: 0;
    }
  }
  .hero-image {
    margin: 32px 0;
    img {
      max-width: 300px;
      @media (min-width: $breakpoint-lg) {
        max-width: unset;
      }
    }
    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }
}
</style>
