<script lang="ts">
import Vue from 'vue';
import { MrktoForm } from '../common/index.vue';

export default Vue.extend({
  components: {
    MrktoForm,
  },
  props: {
    header: {
      type: String,
      required: true,
    },
    formId: {
      type: Number,
      required: true,
    },
  },
});
</script>

<template>
  <div id="download-form">
    <div class="text">
      <SlpTypography variant="heading2-bold">{{ header }}</SlpTypography>
    </div>
    <div class="form-container">
      <MrktoForm :data="{ formId, datalayer: 'resources' }" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
#download-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
  gap: 32px;
  .text {
    flex-basis: 40%;
  }
  .form-container {
    :deep(.form_column .form_container) {
      background: #f6f3fe;
      border-radius: 8px;
      .mktoButton {
        margin-top: 32px;
      }
      .mktoField {
        height: 45px;
      }
    }
  }
}
</style>
